@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
	/* biome-ignore lint/correctness/noUnknownProperty: reason */
	themes: light --default, dark --prefersdark;
}


#markdowncontent img {
	max-height: 500px !important;
	width: auto; /* Maintain aspect ratio */
	object-fit: contain;
	display: block;
	margin: auto; /* Center horizontally */
}