---
import LayoutWithHighlight from "../layouts/LayoutWithHighlight.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<style>
    tr th:first-child {
        padding-left: 1rem;
        padding-right: 1rem;
    }
</style>
<LayoutWithHighlight>
    <div class="prose p-4">
        <h1>Contact us</h1>
    </div>
    <div class="overflow-x-auto">
        <table class="table table-zebra">
            <!-- head -->
            <thead>
                <tr>
                    <th>Officer</th>
                    <th>Name</th>
                    <th>Phone 919-371-4470<br />Option 1</th>
                    <th>Email address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>President</th>
                    <td>Sachin Joshi</td>
                    <td>Sub Option 1</td>
                    <td>president@humsub.net</td>
                </tr>
                <tr>
                    <th>Vice President</th>
                    <td>Amardeep Bajaj</td>
                    <td>Sub Option 2</td>
                    <td>vicepresident@humsub.net</td>
                </tr>
                <tr>
                    <th>Treasurer</th>
                    <td>Kaajal Nanavati</td>
                    <td>Sub Option 3</td>
                    <td>treasurer@humsub.net</td>
                </tr>
                <tr>
                    <th>Secretary</th>
                    <td>Ekta Bhatia</td>
                    <td>Sub. Option 4</td>
                    <td>secretary@humsub.net</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-zebra">
            <!-- head -->
            <thead>
                <tr>
                    <th>Committee</th>
                    <th>Chair Person</th>
                    <th>Phone 919-371-4470<br />Option 2</th>
                    <th>Email address</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Cultural Programs</th>
                    <td>Vandana Pawar</td>
                    <td>Sub Option 1</td>
                    <td>cultural_programs@humsub.net</td>
                </tr>
                <tr>
                    <th>Vendor</th>
                    <td>Dipendra Lamichhane</td>
                    <td>Sub Option 2</td>
                    <td>vendor@humsub.net</td>
                </tr>
                <tr>
                    <th>Marketing/Social Media</th>
                    <td>Rajesh Gollapudi</td>
                    <td>Sub Option 3</td>
                    <td>socialmedia@humsub.net</td>
                </tr>
                <tr>
                    <th>Sponsorship and Grants</th>
                    <td>Amardeep Bajaj</td>
                    <td>Sub Option 4</td>
                    <td>sponsorship@humsub.net</td>
                </tr>
                <tr>
                    <th>VIP Liaison</th>
                    <td>Sachin Joshi</td>
                    <td>Sub Option 5</td>
                    <td>president@humsub.net</td>
                </tr>
                <tr>
                    <th>Exhibition</th>
                    <td>Usha Sankar</td>
                    <td>Sub Option 6</td>
                    <td>exhibition@humsub.net</td>
                </tr>
                <tr>
                    <th>Professional</th>
                    <td>Narendra Kalyankar</td>
                    <td>Sub Option 8</td>
                    <td>professional@humsub.net</td>
                </tr>
                <tr>
                    <th>Youth Ambassador</th>
                    <td>Ekta Bhatia</td>
                    <td>Sub Option 9</td>
                    <td>youthambassadors@humsub.net</td>
                </tr>
                <tr>
                    <th>Youth Achievement Award</th>
                    <td>Padmaja Sharma</td>
                    <td>Sub Option 10</td>
                    <td>youthaward@humsub.net</td>
                </tr>
                <tr>
                    <th>Special Events</th>
                    <td>Sachin Joshi</td>
                    <td>Sub Option 5</td>
                    <td>special_events@humsub.net</td>
                </tr>
            </tbody>
        </table>
    </div>
</LayoutWithHighlight>
