---
---
<ul class="menu menu-horizontal px-1 gap-1">
    <li>
        <details>
            <summary
                class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
                >Home</summary
            >
            <ul class="p-2 bg-base-100 rounded-box shadow-md z-[50] w-48">
                <li>
                    <a
                        href="/"
                        data-prefetch
                        title="Home"
                        class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg">Home</a
                    >
                </li>
                <li>
                    <a
                        href="/about"
                        data-prefetch
                        title="About Hum Sub"
                        class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg">About</a
                    >
                </li>
                <li>
                    <a
                        href="/our-team"
                        data-prefetch
                        title="Our team"
                        class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg">Our team</a
                    >
                </li>
                <li>
                    <a
                        href="/our-sponsors"
                        data-prefetch
                        title="Our Sponsors and Partners"
                        class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
                    >
                        Sponsors & Partners
                    </a>
                </li>
                <li>
                    <a
                        href="/gallery"
                        data-prefetch
                        title="Event Pictures and Videos"
                        class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
                    >
                        Gallery
                    </a>
                </li>
                <li>
                    <a
                        href="/cultural-faq"
                        data-prefetch
                        title="Cultural FAQs"
                        class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
                    >
                        Cultural FAQ
                    </a>
                </li>
                <li>
                    <a
                        href="/volunteer"
                        data-prefetch
                        title="Volunteer with us"
                        class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
                    >
                        Volunteer
                    </a>
                </li>
            </ul>
        </details>
    </li>
    <li>
        <a
            href="/events"
            data-prefetch
            title="Events"
            class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
            >Events</a>
    </li>
    <li>
        <a
            href="/blog"
            data-prefetch
            title="Blog"
            class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
            >Blog</a>
    </li>
    <li>
        <a
            href="/youth-ambassador"
            data-prefetch
            title="Youth Ambassador Program"
            class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
        >
            Youth Ambassador
        </a>
    </li>
    <li>
        <a
            href="/yaa"
            data-prefetch
            title="Youth Achievement Award"
            class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
        >
            Achievement Award
        </a>
    </li>
    <li>
        <a
            href="/contact-us"
            data-prefetch
            title="Contact Us"
            class="font-medium hover:bg-base-200 focus:outline focus:outline-primary rounded-lg"
            >Contact Us</a>
    </li>
</ul>