---
import { Icon } from "astro-icon/components";
import logo25yr from "../assets/25yr-logo.png";
import DesktopMenu from "./DesktopMenu.astro";
---

<div class="navbar bg-base-300 w-full">
    <div class="flex-none lg:hidden">
        <label
            for="my-drawer-3"
            aria-label="open sidebar"
            class="btn btn-square btn-ghost"
        >
            <Icon
                name="lucide:menu"
                class={`h-5 w-5 text-gray-600`}
                aria-hidden="true"
            />
        </label>
    </div>

    <div class="mx-2 px-2 flex flex-row">
        <a href="/" aria-label="Hum Sub Home">
            <img src={logo25yr.src} alt="Hum Sub logo" class="w-16 h-16" />
        </a>
    </div>
    <div class="navbar-center justify-center hidden lg:flex lg:flex-1">
        <DesktopMenu />
    </div>
    <div class="flex justify-end ml-auto">
        <a
            class="btn btn-primary text-white ml-auto"
            href="https://portal.humsub.org/"
            target="_blank"
            rel="noopener noreferrer"
        >
            <Icon
                name="lucide:external-link"
                class={`h-5 w-5 text-white`}
                aria-hidden="true"
            />
            Portal
        </a>
    </div>
</div>
