---
import "../styles/global.css";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import TopNavigation from "../components/top-navigation.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import BlogHeroImage from "../components/BlogHeroImage.astro";
import PageBackground from "../components/PageBackground.astro";
import MobileMenu from "../components/MobileMenu.astro";
type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title ?? SITE_TITLE}
			description={description ?? SITE_DESCRIPTION}
		/>
	</head>
	<body>
		<div class="drawer">
			<input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
			<div class="drawer-content flex flex-col">
			  <!-- Navbar -->
			  <TopNavigation />
			  <PageBackground />
			  <!-- Page content here -->
			   <div class="container mx-auto max-w-7xl">
				<article>
					<div class="hero-image hero">
						{
							heroImage && (
								<BlogHeroImage
									name={title}
									imagePath={heroImage ?? ""}
								/>
							)
						}
					</div>
					<div class="prose p-4 mx-auto">
						<div class="title">
							<div class="date">
								<FormattedDate date={pubDate} />
								{
									updatedDate && (
										<div class="last-updated-on">
											Last updated on{" "}
											<FormattedDate
												date={updatedDate}
											/>
										</div>
									)
								}
							</div>
							<h1>{title}</h1>
							<hr />
						</div>
						<slot />
					</div>
				</article>
			   </div>
			</div>
			<div class="drawer-side">
			  <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
			  <MobileMenu />
			</div>
		</div>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
	body {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
</style>
