---
import "../styles/global.css";
import background from "../assets/background.svg";
import Footer from "../components/Footer.astro";
import MobileSidebar from "../components/mobile-sidebar.astro";
import TopNavigation from "../components/top-navigation.astro";
const { frontmatter } = Astro.props;
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead
            title={frontmatter.title ?? SITE_TITLE}
            description={frontmatter.description ?? SITE_DESCRIPTION}
        />
    </head>
    <body>
        <div class="drawer">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
            <div class="drawer-content flex flex-col">
                <!-- Navbar -->
                <TopNavigation />
                <img
                    id="background"
                    src={background.src}
                    alt=""
                    fetchpriority="high"
                />
                <div class="container mx-auto p-4 prose max-w-7xl">
                    <slot />
                </div>
            </div>
            <MobileSidebar />
        </div>
        <Footer />
    </body>
</html>
<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    #background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        filter: blur(100px);
    }
</style>
